<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<style>
#homepage_text {margin:2%;}
</style>

    <title> CareerClusters </title>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> CareerClusters </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>


<div id='homepage_text'>
 <h1> Would you like a job? </h1>
    <h2> Enter your resume or any keywords </h2>
    <form action="/classifier" method='POST' >

        <input type="text" class="textarea" name="user_input" />
        <input type="submit" />
    </form> 

    <a href="/optimize_resume"> Optimize your Resume! </a>
</div>

</body>
</html>